table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #2C3852;
  color: white;
  font-size: 18px;
}

#monthly-cost {
    background-color: white;
}