th, td {
  text-align: left;
}

th {
  background-color: rgb(34, 49, 82);
  color: white;
  font-size: 18px;
}

td.format-td1 {
  padding: 18px 12px 18px 12px;
}

td.format-td2 {
  padding: 12px 8px 12px 8px;
}

#monthly-cost {
    background-color: white;
}

h2 {
  margin-left: 40px;
  padding-bottom: 8px;
}

div.input-group.mb-3 {
  margin-left: 40px;
  display: inline-block;
}

div.submit {
  margin-left: 40px;
  padding-bottom: 28px;
}
.table-div {
  margin-top: 8px;
}

.monthly-total {
  text-align: right;
}

.input-style {
  padding-left: 4px;
}

body {
  background-color: #3b3b3b;
  padding-top: 20px;
}

section {
  background-color: white;
  padding-bottom: 12px;
}

header {
  padding-top: 16px;
}

.jumbotron {
  background-color: #7aeecb
}